/* GENERAL
------------------------------------------------------------------------------------------------- */

#contentContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(270deg, #101010, #151515, #202020, #252525);
  background-size: 800% 800%;

  animation: AnimationName 90s ease infinite;
}

.disrupt {
  color: $white;
  line-height: 1;
  position: fixed;
  letter-spacing: 1rem;
  font-weight: 700;
  transition: transform .6s ease-out;
  opacity: .1;
}

.disrupt.left {
  font-size: 15vw;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 15%);
  /*
  * Update this in js resetDisrupt
  */
}

.disrupt.right {
  font-size: 20vw;
  top: 0;
  right: 0;
  transform: translate(50%, -15%);
  /*
  * Update this in js resetDisrupt
  */
}

.registerInterest {
  content: '';
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: 100%;
}

.registerInterest .inputContainer {
  position: relative;
  text-align: center;
  max-width: 38rem;
  min-width: 320px;
  margin: auto;
  overflow: hidden;
}

.registerInterest .inputContainer input {
  padding: 2rem;
  border: 1px solid #FFFFFF;
  outline: none;
  font-size: 1.4rem;
  background: transparent;
  text-align: left;
  border-radius: 0;
  cursor: pointer;
  width: 25rem;
  color: rgba(0,0,0,0);
  text-transform: uppercase;
  transition: width .2s ease-in-out, color .2s ease-in-out 0s;
}

.registerInterest .inputContainer input:focus,
.registerInterest .inputContainer input:active {
  width: 90%;
  color: rgba(255,255,255,1);
  cursor: text;
  background: transparent;
  transition: width .2s ease-in-out, color .2s ease-in-out .2s, border .2s ease-in-out;
  border-color: white;
}

.registerInterest .inputContainer input::placeholder {
  opacity: 0;
  transition: opacity .2s ease-in-out 0s;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
}

.registerInterest .inputContainer input:focus::placeholder,
.registerInterest .inputContainer input:active::placeholder {
  opacity: 1;
  transition: opacity .2s ease-in-out .2s;
}

.registerInterest .inputContainer input:focus + .buttonText {
  opacity: 0;
  transition: opacity .2s ease-in-out 0s;
}

.registerInterest .inputContainer .buttonText {
  position: absolute;
  color: #FFFFFF;
  left: 50%;
  top: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  text-transform: uppercase;
  pointer-events: none;
  letter-spacing: 1px;
  font-weight: 700;
  transition: opacity .2s ease-in-out .2s;
  line-height: 1.4rem;
  margin-top: .1rem;
  @include textGlitch("buttonText", 10, #FFFFFF, transparent, $neon-pink, $neon-cyan, 200, 15);
}


/*date and locations styles*/

.details {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 2rem;
  margin-top: 1rem;
  .date, .location {
    margin-top: 1rem;
  }
  i {
    margin-right: 0.8rem;
  }
  .date {
    margin-right: 2.5rem;
  }
  .date p {
    margin-right: 0.5rem;
  }
  a {
    display: flex;
    align-items: center;
    &:hover i {
      color: $purple;
    }
  }
}



/*social media link styles*/

.socials {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2rem;
}

.socials a {
  width: 3.8rem;
  height: 3.8rem;
  border: 0.1rem solid $white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.75rem;
  color: $white;
  text-decoration: none;
  transition: 0.2s;
  position: relative;
  overflow: hidden;
  &:active i {
    color: transparent;
  }
}

.facebook-link {
  &:hover {
    @include buttonBackgroundGlitch(facebookAnim, $blue, $yellow, $bright-green, normal);
  }

  &:active {
    background: $white;
  }
}

.instagram-link {
  &:hover {
    @include buttonBackgroundGlitch(instagramAnim, $purple, $bright-green, $red, alternate-reverse);
  }

  &:active {
    background: $white;
  }
}

.socials a:visited {
  color: $white;
}

.socials a i {
  font-size: 2rem;
  z-index: 2;
}

#hitboxes {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;

  .item {
    height: 100px;
    width: 100px;
    border: 1px solid #fff;
    position: absolute;
    border-radius: 50px;
    cursor: crosshair;

    &:hover {
      border-color: coral;
    }
  }
}

#effectOverlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  pointer-events: none;
  &>* {
    position: absolute;
  }
}

.wave-container {
  position: absolute;
  left: 50%;
  top: 50%;
}
