/* GLOBAL
------------------------------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
	min-width: 320px;
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Karla', sans-serif;
  background: $charcoal;
  overflow: hidden;
  color: $white;
}

p {
  letter-spacing: 0.5rem;
  line-height: 1.4;
  font-size: 1.5rem;
}

a {
  color: $white;
  text-decoration: none;
  &:hover {
  color: $white;
  }
}

h1 {
  margin: 0;
  padding: 0;
}
