/* VARIABLES
------------------------------------------------------------------------------------------------- */

  $charcoal: #3E3E3E;
  $light-charcoal: #4B4B4B;
  $grey: #CACACA;
  $white: #FFFFFF;
  $red: #DC3D50;
  $blue: #515EA4;
  $bright-green: #84F965;
  $dull-green: #8BBE56;
  $yellow: #F8CD60;
  $purple: #B935C3;
  $neon-cyan: #00ffff;
  $neon-pink: #ff00ff;

  $disrupt-green: #48ff48;
  $disrupt-magenta: #ff00fe;
  $disrupt-dark-blue: #0f142c;

  @font-face {
    font-family: 'FuturaPT-Heavy';
    src: url('./fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),  url('./fonts/FuturaPT-Heavy.woff') format('woff'), url('./fonts/FuturaPT-Heavy.ttf')  format('truetype'), url('./fonts/FuturaPT-Heavy.svg#FuturaPT-Heavy') format('svg');
    font-weight: normal;
    font-style: normal;
  }
