/* VARIABLES
------------------------------------------------------------------------------------------------- */
:root {
  --charcoal: #3E3E3E;
  --light-charcoal: #4B4B4B;
  --grey: #CACACA;
  --white: #FFFFFF;
  --red: #DC3D50;
  --blue: #515EA4;
  --bright-green: #84F965;
  --dull-green: #8BBE56;
  --yellow: #F8CD60;
  --purple: #B935C3;
}
