/* FONTS
------------------------------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Karla:100,400,700");



/* KEYFRAMES
------------------------------------------------------------------------------------------------- */
@-webkit-keyframes AnimationName {
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}
@keyframes AnimationName {
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}


/* VARIABLES
------------------------------------------------------------------------------------------------- */
:root {
  --charcoal: #3E3E3E;
  --light-charcoal: #4B4B4B;
  --grey: #CACACA;
  --white: #FFFFFF;
  --red: #DC3D50;
  --blue: #515EA4;
  --bright-green: #84F965;
  --dull-green: #8BBE56;
  --yellow: #F8CD60;
  --purple: #B935C3;
}


/* GLOBAL
------------------------------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
	min-width: 320px;
  font-family: 'Karla', sans-serif;
  background: var(--charcoal);
  overflow: hidden;
}

p {
  letter-spacing: 0.5rem;
  line-height: 1.4;
  font-size: 1.5rem;
  color: var(--white);
}

/* GENERAL
------------------------------------------------------------------------------------------------- */

#contentContainer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: black;
}

.disrupt {
  color: var(--white);
  line-height: 1;
  position: fixed;
  letter-spacing: 1rem;
  font-weight: 700;
  transition: transform .2s ease-out;
  opacity: .06;
}

.disrupt.left {
  font-size: 15vw;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 15%);
  /*
  * Update this in js resetDisrupt
  */
}

.disrupt.right {
  font-size: 20vw;
  top: 0;
  right: 0;
  transform: translate(50%, -15%);
  /*
  * Update this in js resetDisrupt
  */
}

.registerInterest {
  content: '';
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 38rem;
}

.registerInterest .inputContainer {
  position: relative;
  text-align: center;
}

.registerInterest .inputContainer input {
  padding: 2rem;
  border: 1px solid #FFFFFF;
  outline: none;
  /*b935C3*/
  font-size: 1.4rem;
  text-align: center;
  background: transparent;
  border-radius: 0;
  cursor: pointer;
  width: 25rem;
  color: rgba(0,0,0,0);
  text-transform: uppercase;
  transition: width .2s ease-in-out, color .2s ease-in-out 0s;
}

.registerInterest .inputContainer input:focus,
.registerInterest .inputContainer input:active {
  width: 100%;
  color: rgba(255,255,255,1);
  cursor: text;
  background: transparent;
  transition: width .2s ease-in-out, color .2s ease-in-out .2s, border .2s ease-in-out;
  border-color: white;
}

.registerInterest .inputContainer input::placeholder {
  opacity: 0;
  transition: opacity .2s ease-in-out 0s;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
}

.registerInterest .inputContainer input:focus::placeholder,
.registerInterest .inputContainer input:active::placeholder {
  opacity: 1;
  transition: opacity .2s ease-in-out .2s;
}

.registerInterest .inputContainer input:focus + .buttonText {
  opacity: 0;
  transition: opacity .2s ease-in-out 0s;
}

.registerInterest .inputContainer .buttonText {
  position: absolute;
  color: #FFFFFF;
  left: 50%;
  top: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  text-transform: uppercase;
  pointer-events: none;
  letter-spacing: 1px;
  font-weight: 700;
  transition: opacity .2s ease-in-out .2s;
  line-height: 1.4rem;
  margin-top: .1rem;
}


/*date and locations styles*/

.details {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  margin: 2rem;
}

.date {
  display: flex;
}

.date p, .location {
  margin: 0 0.5rem;
}


/*social media link styles*/

.socials {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2rem;
}

.socials a {
  width: 3.8rem;
  height: 3.8rem;
  border: 0.1rem solid var(--white);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.75rem;
  color: var(--white);
  text-decoration: none;
  transition: 0.2s;
  position: relative;
  overflow: hidden;
}

.socials a:visited {
  color: var(--white);
}

.socials a:after {
  content: '';
  height: 0%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: var(--purple);
  transition: 0.2s height;
}

.socials a:hover:after  {
  height: 50%;
}

.socials a i {
  font-size: 2rem;
  position: absolute;
  z-index: 2;
}
