/* FONTS
------------------------------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Karla:100,400,700");



/* KEYFRAMES
------------------------------------------------------------------------------------------------- */



/* VARIABLES
------------------------------------------------------------------------------------------------- */
:root {
  --black: #3E3E3E;
  --white: #FFFFFF;
  --red: #DC3D50;
  --blue: #515EA4;
  --green: #8BBE56;
  --yellow: #F8CD60;
}


/* GLOBAL
------------------------------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
	min-width: 320px;
  font-family: 'Karla', sans-serif;
  background: var(--black);
}

.disrupt {
  color: var(--white);
  line-height: 1;
  position: fixed;
  letter-spacing: 1rem;
  font-weight: 700;
  transition: transform .6s ease-out;
}

.disrupt.left {
  font-size: 15vw;
  top: 75vh;
  left: 0;
  transform: translate(-50%, -50%);
}

.disrupt.right {
  font-size: 20vw;
  top: 25vh;
  right: 0;
  transform: translate(50%, -50%);
}

/*social media link styles*/

.socials {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
}

.icon {
  width: 32px;
  height: 32px;
  margin: 0 0.5rem;
}

.facebook {
  background-image: url('img/facebook-icon.svg')
}

.instagram {
  background-image: url('img/instagram-icon.svg')
}
