/* FONTS
------------------------------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Karla:100,400,700");



/* KEYFRAMES
------------------------------------------------------------------------------------------------- */



/* VARIABLES
------------------------------------------------------------------------------------------------- */
:root {
  --black: #3E3E3E;
  --white: #FFFFFF;
  --red: #DC3D50;
  --blue: #515EA4;
  --green: #8BBE56;
  --yellow: #F8CD60;
}


/* GLOBAL
------------------------------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
	min-width: 320px;
  font-family: 'Karla', sans-serif;
  background: var(--black);
}

.disrupt {
  color: var(--white);
  font-size: 16vw;
  line-height: 1;
  position: fixed;
  letter-spacing: 2rem;
}

.disrupt.left {
  top: 25vh;
  right: 0;
  transform: translate(50%, -50%)
}

.disrupt.right {
  top: 75vh;
  left: 0;
  transform: translate(-50%, -50%)
}
